// DESKTOP

.product {
    width: 100%;
    min-height: 50px;
    background-color: $white;
    display: flex;
    margin-top: 15px;
    -webkit-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.4);
        -moz-box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.4);
        box-shadow: 0px 0px 6px 0px rgba(50, 50, 50, 0.4);
    &__info {
        display: flex;
        margin-right: auto;
        max-width: 100%;
        &__name {
            color: $red;
            padding: 0 20px;
            max-height: 30px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            font-weight: 300;
        }
        &__details {
            display: flex;
            align-items: center;
            height: 22px;
            width: auto;
            margin: auto 0;
            border-radius: 2px;
            font-size: 12px;
            &__value {
                margin: 0 5px;
                text-overflow: ellipsis;
                white-space: nowrap;
                overflow: hidden;
            }
            &__icon {
                path {
                    stroke-width: 0px;
                }
            }
            &__percent {
                margin: 0 5px;
            }
        }
    }
}

// Class to determine colours when product growth is positive
.positive {
    path {
        fill: $olive;
    }
    color: $olive;
}

// Class to determine colours when product growth is negative
.negative {
    path {
        fill: $brick;
    }
    color: $brick;
}

// MOBILE

// Change layout on mobile
@media (max-width: $breakpoint) {
    .product {
        flex-direction: column;
        &__info {
            &__name {
                font-size: 16px;
                max-width: 40%;
            }
        }
    }

    // Catch cheeky border radius on mobile
    .product-curve {
        border-radius: 0 0 0 12px;
        overflow: hidden;
    }
}