// DESKTOP

// Container
.products-container {
    background-color: $lightgrey;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 100px 200px;
    &__title {
        padding: 5px 0 5px 20px;
        border-left: 2px solid $red;
        margin: 0 auto 100px auto;
        color: $red;
        font-weight: 300;
        font-size: 35px;
    }
}

// Product sort area
.product-sort {
    display: flex;
    align-items: center;
    &__name {
        color: $red;
    }
    &__sort {
        display: flex;
        &__button {
            border: 1px solid transparent;
            border-radius: 2px;
            padding: 5px 10px;
            background-color: $grey;
            margin-left: 15px;
            height: 28px;
            color: $white;
            display: flex;
            align-items: center;
            &__icon {
                margin-left: 10px;
                path {
                    fill: $white;
                    stroke-width: 0px;
                }
            }
        }
        &__button:hover {
            cursor: pointer;
            border: 1px solid $slate;
        }
        &__radio {
        display: none;
        }
        &__radio:checked+label {
            background-color: $slate;
        }
    }
}

// MOBILE

// Change layout on mobile for container and sorting area
@media (max-width: $breakpoint) {

    .products-container {
        margin-top: 50px;
        padding: 30px;
        &__title {
            margin: 20px auto 20px 0;
        }
    }

    .product-sort {
        &__name {
            margin-bottom: 100px;
        }
        &__sort {
            flex-direction: column;
            margin-bottom: 50px;
            &__button {
                margin-top: 15px;
            }
        }
    }
}