// DESKTOP

// Container
.info {
    max-width: 50%;
    display: flex;
    align-items: center;
    margin: 0 auto;
    background-color: $white;
    overflow: auto;
    // Individual card
    &__card {
        width: 100%;
        max-width: 330px;
        min-height: 330px;
        height: auto;
        background-color: $lightgrey;
        margin: 30px;
        padding: 30px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        -webkit-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.4);
        -moz-box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.4);
        box-shadow: 0px 0px 16px 0px rgba(50, 50, 50, 0.4);
        &__title {
            font-size: 25px;
            font-weight: 300;
            color: $red;
            border-left: 2px solid $red;
            padding: 5px 0 5px 20px;
        }
        &__text {
            height: 100%;
            font-weight: 300;
        }
        &__button {
            width: 100%;
            margin-top: auto;
            min-height: 50px;
            border: none;
            background-color: $red;
            border-radius: 0 0 0 12px;
            color: $white;
            font-weight: 300;
            &__icon {
                margin-left: 10px;
                path {
                    fill: $white;
                    stroke-width: 0px;
                }
            }
        }
        &__button:hover {
            cursor: pointer;
            background-color: $navy;
        }
    }
}

// Cheeky border radius 
#investments {
    border-radius: 0 0 0 24px;
}

// MOBILE

// Set cards to column on mobile
@media (max-width: $breakpoint) {
    .info {
        min-width: 100%;
        flex-direction: column;
        padding-bottom: 30px;
        &__card {
            min-height: auto;
            width: auto;
            margin-bottom: 0;
            &__button {
                margin-top: 20px;
            }
        }
    }

    // Catching the cheeky border radius switch on mobile
    #stocks {
        border-radius: 0 0 0 24px;
    }

    #investments {
        border-radius: 0;
    }
}