// DESKTOP

.welcome {
    background-color: $navy;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &__title {
        font-weight: 300;
        font-size: 35px;
        width: 75%;
        color: $white;
        padding: 5px 0 5px 20px;
        border-left: 2px solid $white;
        margin-left: 20px;
    }
    &__text {
        width: 75%;
        color: $white;
        font-weight: 100;
        font-size: 16px;
    }
}

// MOBILE

// Change layout on mobile
@media (max-width: $breakpoint) {
    .welcome {
        width: 100%;
        padding: 30px 0;
        &__title {
            line-height: 40px;
        }
    }
}