// Colours
$white: #FFFFFF;
$navy: #0D455D;
$lightgrey: #F0F0F3;
$red: #EF233C;
$black: #222222;
$slate: #6C6C6C;
$grey: #B9B9B9;
$lime: #E5FFC7;
$olive: #5E6A4D;
$salmon: #FFC7C7;
$brick: #9F5151;
// $what: #00000024;

// Sizes
$nav-height: 90px;
$breakpoint: 992px;